#ignore files
ManageCertificateProgram/build
ManageCertificateProgram/nbproject
ManageCertificateProgram/build.xml
ManageCertificateProgram/manifest.mf
/TrueEducationAcademy/nbproject/private/
/TrueEducationAcademy/build/