#ignore files
TrueEducationAcademy/build
TrueEducationAcademy/nbproject
TrueEducationAcademy/build.xml
TrueEducationAcademy/manifest.mf
/TrueEducationAcademy/nbproject/private/
/TrueEducationAcademy/build/